/*body{
    background-color: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    width: 100px;
    height: 100px;
    background-color: salmon;
    border: 2px dotted black;
}*/



/*body{
    display: flex;
    justify-content: center;
    align-items: center;
}




div{
    height: 100px;
    width: 100px;
    background: red;;
}*/